interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/nrcan-landcover/items?limit=1
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"features\":[{\"id\":\"CAN_LC_2015_CAL_16_13\",\"bbox\":[-83.63591543,39.87203697,-79.52714012,42.96045456],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nrcan-landcover\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nrcan-landcover\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/\"},{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nrcan-landcover/items/CAN_LC_2015_CAL_16_13\"},{\"rel\":\"cite-as\",\"href\":\"https://doi.org/10.4095/315659\"},{\"rel\":\"preview\",\"href\":\"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=nrcan-landcover&item=CAN_LC_2015_CAL_16_13\",\"title\":\"Map
        of item\",\"type\":\"text/html\"}],\"assets\":{\"metadata\":{\"href\":\"https://nrcanlandcovereuwest.blob.core.windows.net/landcover/assets/4e615eae-b90c-420b-adee-2ca35896caf6.jsonld\",\"type\":\"application/json\",\"roles\":[\"metadata\"],\"title\":\"Land
        cover of Canada metadata\"},\"landcover\":{\"href\":\"https://nrcanlandcovereuwest.blob.core.windows.net/landcover/assets/cogs/CAN_LC_2015_CAL_16_13_cog.tif\",\"file:size\":1307648,\"proj:bbox\":[1000330.0,-885090.0,1300360.0,-585510.0],\"proj:wkt2\":\"PROJCRS[\\\"NAD83
        / Canada Atlas Lambert\\\",BASEGEOGCRS[\\\"NAD83\\\",DATUM[\\\"North American
        Datum 1983\\\",ELLIPSOID[\\\"GRS 1980\\\",6378137,298.257222101,LENGTHUNIT[\\\"metre\\\",1]]],PRIMEM[\\\"Greenwich\\\",0,ANGLEUNIT[\\\"degree\\\",0.0174532925199433]],ID[\\\"EPS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-fea[...]
[...]
