interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l1/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"LM05_L1GS_039039_20130107_02_T2","bbox":[-117.50762889,29.33011939,-115.11943478,31.33978061],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l1"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l1"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l1/items/LM05_L1GS_039039_20130107_02_T2"},{"rel":"cite-as","href":"https://doi.org/10.5066/P9AF14YV","title":"Landsat
        1-5 MSS Collection 2 Level-1"},{"rel":"via","href":"https://landsatlook.usgs.gov/stac-server/collections/landsat-c2l1/items/LM05_L1GS_039039_20130107_20200820_02_T2","type":"application/json","title":"USGS
        STAC Item"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=landsat-c2-l1&item=LM05_L1GS_039039_20130107_02_T2","title":"Map
        of item","type":"text/html"}],"assets":{"red":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_B2.TIF","eo:bands":[{"name":"B2","common_name":"red","description":"Visible
        red","center_wavelength":0.65,"full_width_half_max":0.1}],"description":"Collection
        2 Level-1 Red Band (B2) Top of Atmosphere Radiance","raster:bands":[{"scale":0.66024,"offset":2.03976,"unit":"watt/steradian/square_meter/micrometer","nodata":0,"data_type":"uint8","spatial_resolution":60}],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Red
        Band"},"green":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_B1.TIF","eo:bands":[{"name":"B1","common_name":"green","description":"Visible
        green","center_wavelength":0.55,"full_width_half_max":0.1}],"description":"Collection
        2 Level-1 Green Band (B1) Top of Atmosphere Radiance","raster:bands":[{"scale":0.88504,"offset":1.51496,"unit":"watt/steradian/square_meter/micrometer","nodata":0,"data_type":"uint8","spatial_resolution":60}],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Green
        Band"},"nir08":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_B3.TIF","eo:bands":[{"name":"B3","common_name":"nir08","description":"Near
        infrared","center_wavelength":0.75,"full_width_half_max":0.1}],"description":"Collection
        2 Level-1 Near Infrared Band 0.8 (B3) Top of Atmosphere Radiance","raster:bands":[{"scale":0.55866,"offset":4.34134,"unit":"watt/steradian/square_meter/micrometer","nodata":0,"data_type":"uint8","spatial_resolution":60}],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Near
        Infrared Band 0.8"},"nir09":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_B4.TIF","eo:bands":[{"name":"B4","common_name":"nir09","description":"Near
        infrared","center_wavelength":0.95,"full_width_half_max":0.3}],"description":"Collection
        2 Level-1 Near Infrared Band 0.9 (B4) Top of Atmosphere Radiance","raster:bands":[{"nodata":0,"data_type":"uint8","spatial_resolution":60}],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Near
        Infrared Band 0.9"},"mtl.txt":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_MTL.txt","type":"text/plain","roles":["metadata"],"title":"Product
        Metadata File (txt)","description":"Collection 2 Level-1 Product Metadata
        File (txt)"},"mtl.xml":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_MTL.xml","type":"application/xml","roles":["metadata"],"title":"Product
        Metadata File (xml)","description":"Collection 2 Level-1 Product Metadata
        File (xml)"},"mtl.json":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_MTL.json","type":"application/json","roles":["metadata"],"title":"Product
        Metadata File (json)","description":"Collection 2 Level-1 Product Metadata
        File (json)"},"qa_pixel":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_QA_PIXEL.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["cloud"],"title":"Pixel
        Quality Assessment Band","description":"Collection 2 Level-1 Pixel Quality
        Assessment Band (QA_PIXEL)","raster:bands":[{"unit":"bit index","nodata":1,"data_type":"uint16","spatial_resolution":60}],"classification:bitfields":[{"name":"fill","length":1,"offset":0,"classes":[{"name":"not_fill","value":0,"description":"Image
        data"},{"name":"fill","value":1,"description":"Fill data"}],"description":"Image
        or fill data"},{"name":"cloud","length":1,"offset":3,"classes":[{"name":"not_cloud","value":0,"description":"Cloud
        confidence is not high"},{"name":"cloud","value":1,"description":"High confidence
        cloud"}],"description":"Cloud mask"},{"name":"cloud_confidence","length":2,"offset":8,"classes":[{"name":"not_set","value":0,"description":"No
        confidence level set"},{"name":"low","value":1,"description":"Low confidence
        cloud"},{"name":"reserved","value":2,"description":"Reserved - value not used"},{"name":"high","value":3,"description":"High
        confidence cloud"}],"description":"Cloud confidence levels"}]},"qa_radsat":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-1/standard/mss/2013/039/039/LM05_L1GS_039039_20130107_20200820_02_T2/LM05_L1GS_039039_20130107_20200820_02_T2_QA_RADSAT.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["saturation"],"title":"Radiometric
        Saturation and Dropped Pixel Quality Assessment Band","description":"Collection
        2 Level-1 Radiometric Saturation and Dropped Pixel Quality Assessment Band
        (QA_RADS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search","https://[...]
[...]
