interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-tables/items?limit=1
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"features\":[{\"id\":\"valu1\",\"bbox\":[-170.8513,-14.3799,171.9169,71.4567],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-tables\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-tables\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/\"},{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-tables/items/valu1\"}],\"assets\":{\"data\":{\"href\":\"abfs://gnatsgo/july2020/parquet/valu1.parquet\",\"title\":\"Valu1\",\"type\":\"application/x-parquet\",\"roles\":[\"data\"],\"table:storage_options\":{\"account_name\":\"soils\"}}},\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[171.9169,-14.3799],[171.9169,71.4567],[-170.8513,71.4567],[-170.8513,-14.3799],[171.9169,-14.3799]]]},\"collection\":\"gnatsgo-tables\",\"properties\":{\"datetime\":\"2020-07-01T00:00:00Z\",\"table:columns\":[{\"name\":\"aws0_5\",\"type\":\"float\",\"description\":\"Available
        water storage estimate (AWS) in a standard zone 1 (0-5 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        layer based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},{\"name\":\"aws5_20\",\"type\":\"float\",\"description\":\"Available
        water storage estimate (AWS) in standard layer 2 (5-20 cm depth), expressed
        in mm. The v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1[...]
[...]
