interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/gap/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"gap_landfire_nationalterrestrialecosystems2011_938865_862215_1238865_562215","bbox":[-86.50614200788456,27.3898603199775,-83.094706715818,30.39956432670431],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gap"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gap"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gap/items/gap_landfire_nationalterrestrialecosystems2011_938865_862215_1238865_562215"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=gap&item=gap_landfire_nationalterrestrialecosystems2011_938865_862215_1238865_562215","title":"Map
        of item","type":"text/html"}],"assets":{"data":{"href":"https://ai4edataeuwest.blob.core.windows.net/usgs-gap/conus/gap_landfire_nationalterrestrialecosystems2011_938865_862215_1238865_562215.tif","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"GeoTIFF
        data"},"tilejson":{"title":"TileJSON with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=gap&item=gap_landfire_nationalterrestrialecosystems2011_938865_862215_1238865_562215&assets=data&tile_format=png&colormap_name=gap-lulc&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=gap&item=gap_landfire_nationalterrestrialecosystems2011_938865_862215_1238865_562215&assets=data&tile_format=png&colormap_name=gap-lulc&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[-83.50321552,27.38986032],[-83.09470672,30.07742972],[-86.19419859,30.39956433],[-86.50614201,27.70391617],[-83.50321552,27.38986032]]]},"collection":"gap","properties":{"datetime":"2011-12-31T00:00:00Z","proj:wkt2":"PROJCS[\"NAD83
        / Conus Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS
        1980\",6378137,298.257222101,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0,AUTHORITY[\"EPSG\",\"8901\"]],UNIT[\"degree\",0.0174532925199433,AUTHORITY[\"EPSG\",\"9122\"]],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]],AXIS[\"Easting\",EAST],AXIS[\"Northing\",NORTH],AUTHORITY[\"EPSG\",\"5070\"]]","label:type":"raster","proj:shape":[10000,10000],"end_datetime":"2011-12-31T00:00:00+00:00","label:classes":[{"name":"","classes":["0","South
        Florida Bayhead Swamp","South Florida Cypress Dome","South Florida Dwarf Cypress
        Savanna","South Florida Mangrove Swamp","South Florida Hardwood Hammock","Southeast
        Florida Coastal Strand and Maritime Hammock","Southwest Florida Coastal Strand
        and Maritime Hammock","South Florida Pine Rockland","Atlantic Coastal Plain
        Fall-line Sandhills Longleaf Pine Woodland - Open Understory","Atlantic Coastal
        Plain Fall-line Sandhills Longleaf Pine [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1[...]
[...]
