interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394","bbox":[8.079524,32.671696,11.216046,34.592247],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd/items/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=sentinel-1-grd&item=S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394","title":"Map
        of item","type":"text/html"}],"assets":{"vh":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/measurement/iw-vh.tiff","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VH:
        vertical transmit, horizontal receive","description":"Amplitude of signal
        transmitted with vertical polarization and received with horizontal polarization
        with radiometric terrain correction applied."},"vv":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/measurement/iw-vv.tiff","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VV:
        vertical transmit, vertical receive","description":"Amplitude of signal transmitted
        with vertical polarization and received with vertical polarization with radiometric
        terrain correction applied."},"thumbnail":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/preview/quick-look.png","type":"image/png","roles":["thumbnail"],"title":"Preview
        Image","description":"An averaged, decimated preview image in PNG format.
        Single polarisation products are represented with a grey scale image. Dual
        polarisation products are represented by a single composite colour image in
        RGB with the red channel (R) representing the  co-polarisation VV or HH),
        the green channel (G) represents the cross-polarisation (VH or HV) and the
        blue channel (B) represents the ratio of the cross an co-polarisations."},"safe-manifest":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/manifest.safe","type":"application/xml","roles":["metadata"],"title":"Manifest
        File","description":"General product metadata in XML format. Contains a high-level
        textual description of the product and references to all of product''s components,
        the product metadata, including the product identification and the resource
        references, and references to the physical location of each component file
        contained in the product."},"schema-noise-vh":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/annotation/calibration/noise-iw-vh.xml","type":"application/xml","roles":["metadata"],"title":"Noise
        Schema","description":"Estimated thermal noise look-up tables"},"schema-noise-vv":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/annotation/calibration/noise-iw-vv.xml","type":"application/xml","roles":["metadata"],"title":"Noise
        Schema","description":"Estimated thermal noise look-up tables"},"schema-product-vh":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/annotation/rfi/rfi-iw-vh.xml","type":"application/xml","roles":["metadata"],"title":"Product
        Schema","description":"Describes the main characteristics corresponding to
        the band: state of the platform during acquisition, image properties, Doppler
        information, geographic location, etc."},"schema-product-vv":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/annotation/rfi/rfi-iw-vv.xml","type":"application/xml","roles":["metadata"],"title":"Product
        Schema","description":"Describes the main characteristics corresponding to
        the band: state of the platform during acquisition, image properties, Doppler
        information, geographic location, etc."},"schema-calibration-vh":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/annotation/calibration/calibration-iw-vh.xml","type":"application/xml","roles":["metadata"],"title":"Calibration
        Schema","description":"Calibration metadata including calibration information
        and the beta nought, sigma nought, gamma and digital number look-up tables
        that can be used for absolute product calibration."},"schema-calibration-vv":{"href":"https://sentinel1euwest.blob.core.windows.net/s1-grd/GRD/2025/3/12/IW/DV/S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394_B8B7/annotation/calibration/calibration-iw-vv.xml","type":"application/xml","roles":["metadata"],"title":"Calibration
        Schema","description":"Calibration metadata including calibration information
        and the beta nought, sigma nought, gamma and digital number look-up tables
        that can be used for absolute product calibration."},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=sentinel-1-grd&item=S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394&assets=vv&assets=vh&expression=vv%3Bvh%3Bvv%2Fvh&rescale=0%2C600&rescale=0%2C270&rescale=0%2C9&asset_as_band=True&tile_format=png&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=sentinel-1-grd&item=S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394&assets=vv&assets=vh&expression=vv%3Bvh%3Bvv%2Fvh&rescale=0%2C600&rescale=0%2C270&rescale=0%2C9&asset_as_band=True&tile_format=png&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[10.861961,32.671696],[8.079524,33.090034],[8.384272,34.592247],[11.216046,34.176048],[10.861961,32.671696]]]},"collection":"sentinel-1-grd","properties":{"datetime":"2025-03-12T05:22:49.103098Z","platform":"SENTINEL-1A","s1:shape":[26449,16669],"end_datetime":"2025-03-12
        05:23:01.601759+00:00","constellation":"Sentinel-1","s1:resolution":"high","s1:datatake_id":"471956","start_datetime":"2025-03-12
        05:22:36.604436+00:00","s1:orbit_source":"PREORB","s1:slice_number":"28","s1:total_slices":"30","sar:looks_range":5,"sat:orbit_state":"descending","sar:product_type":"GRD","sar:looks_azimuth":1,"sar:polarizations":["VV","VH"],"sar:frequency_band":"C","sat:absolute_orbit":58267,"sat:relative_orbit":95,"s1:processing_level":"1","sar:instrument_mode":"IW","sar:center_frequency":5.405,"sar:resolution_range":20,"s1:product_timeliness":"NRT-3h","sar:resolution_azimuth":22,"sar:pixel_spacing_range":10,"sar:observation_direction":"right","sar:pixel_spacing_azimuth":10,"sar:looks_equivalent_number":4.4,"s1:instrument_configuration_ID":"7","sat:platform_international_designator":"2014-016A"},"stac_extensions":["https://stac-extensions.github.io/sar/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json"],"stac_version":"1.0.0"}],"links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd/items"},{"rel":"next","type":"application/geo+json","method":"GET","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd/items?limit=1&token=next:sentinel-1-grd:S1A_IW_GRDH_1SDV_20250312T052236_20250312T052301_058267_073394"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-fea[...]
[...]
