interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_rtc","bbox":[17.82792191023565,29.389001180094468,20.621373751867566,30.75035751452164],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc/items/S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_rtc"},{"rel":"license","href":"https://sentinel.esa.int/documents/247904/690755/Sentinel_Data_Legal_Notice"},{"rel":"derived_from","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-grd/items/S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302","type":"application/json","title":"Sentinel
        1 GRD Item"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=sentinel-1-rtc&item=S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_rtc","title":"Map
        of item","type":"text/html"}],"assets":{"vh":{"href":"https://sentinel1euwestrtc.blob.core.windows.net/sentinel1-grd-rtc/GRD/2025/3/11/IW/DV/S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_F851/measurement/iw-vh.rtc.tiff","file:size":1242427960,"file:checksum":"0715c62c603222df3a60f36473e19d13","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VH:
        vertical transmit, horizontal receive","description":"Terrain-corrected gamma
        naught values of signal transmitted with vertical polarization and received
        with horizontal polarization with radiometric terrain correction applied.","raster:bands":[{"nodata":-32768,"data_type":"float32","spatial_resolution":10.0}]},"vv":{"href":"https://sentinel1euwestrtc.blob.core.windows.net/sentinel1-grd-rtc/GRD/2025/3/11/IW/DV/S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_F851/measurement/iw-vv.rtc.tiff","file:size":1242662612,"file:checksum":"7ddacf901e722721ade996eb448ec87f","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"VV:
        vertical transmit, vertical receive","description":"Terrain-corrected gamma
        naught values of signal transmitted with vertical polarization and received
        with vertical polarization with radiometric terrain correction applied.","raster:bands":[{"nodata":-32768,"data_type":"float32","spatial_resolution":10.0}]},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=sentinel-1-rtc&item=S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_rtc&assets=vv&assets=vh&tile_format=png&expression=0.03+%2B+log+%2810e-4+-+log+%280.05+%2F+%280.02+%2B+2+%2A+vv%29%29%29%3B0.05+%2B+exp+%280.25+%2A+%28log+%280.01+%2B+2+%2A+vv%29+%2B+log+%280.02+%2B+5+%2A+vh%29%29%29%3B1+-+log+%280.05+%2F+%280.045+-+0.9+%2A+vv%29%29&asset_as_band=True&rescale=0%2C.8000&rescale=0%2C1.000&rescale=0%2C1.000&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=sentinel-1-rtc&item=S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_rtc&assets=vv&assets=vh&tile_format=png&expression=0.03+%2B+log+%2810e-4+-+log+%280.05+%2F+%280.02+%2B+2+%2A+vv%29%29%29%3B0.05+%2B+exp+%280.25+%2A+%28log+%280.01+%2B+2+%2A+vv%29+%2B+log+%280.02+%2B+5+%2A+vh%29%29%29%3B1+-+log+%280.05+%2F+%280.045+-+0.9+%2A+vv%29%29&asset_as_band=True&rescale=0%2C.8000&rescale=0%2C1.000&rescale=0%2C1.000&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"Polygon","coordinates":[[[20.621373751867566,30.347112535550156],[18.04019405462681,30.75035751452164],[17.82792191023565,29.67239550000935],[18.6369663112473,29.549523382665544],[18.65126294096393,29.613828021298247],[19.54624838456621,29.47208184043451],[19.559669252838873,29.52934853394938],[20.409021063941452,29.389001180094468],[20.621373751867566,30.347112535550156]]]},"collection":"sentinel-1-rtc","properties":{"datetime":"2025-03-11T04:42:40.696652Z","platform":"SENTINEL-1A","s1:shape":[28320,17058],"proj:bbox":[180600.0,3237460.0,463800.0,3408040.0],"proj:epsg":32634,"proj:shape":[17058,28320],"end_datetime":"2025-03-11
        04:42:49.673729+00:00","constellation":"Sentinel-1","s1:resolution":"high","proj:transform":[10.0,0.0,180600.0,0.0,-10.0,3408040.0,0.0,0.0,1.0],"s1:datatake_id":"471810","start_datetime":"2025-03-11
        04:42:31.719576+00:00","s1:orbit_source":"PREORB","s1:slice_number":"30","s1:total_slices":"30","sar:looks_range":5,"sat:orbit_state":"descending","sar:product_type":"GRD","sar:looks_azimuth":1,"sar:polarizations":["VV","VH"],"sar:frequency_band":"C","sat:absolute_orbit":58252,"sat:relative_orbit":80,"s1:processing_level":"1","sar:instrument_mode":"IW","sar:center_frequency":5.405,"sar:resolution_range":20,"s1:product_timeliness":"NRT-3h","sar:resolution_azimuth":22,"sar:pixel_spacing_range":10,"sar:observation_direction":"right","sar:pixel_spacing_azimuth":10,"sar:looks_equivalent_number":4.4,"s1:instrument_configuration_ID":"7","sat:platform_international_designator":"2014-016A"},"stac_extensions":["https://stac-extensions.github.io/sar/v1.0.0/schema.json","https://stac-extensions.github.io/sat/v1.0.0/schema.json","https://stac-extensions.github.io/projection/v1.1.0/schema.json","https://stac-extensions.github.io/file/v2.0.0/schema.json","https://stac-extensions.github.io/raster/v1.1.0/schema.json"],"stac_version":"1.0.0"}],"links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc/items"},{"rel":"next","type":"application/geo+json","method":"GET","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/sentinel-1-rtc/items?limit=1&token=next:sentinel-1-rtc:S1A_IW_GRDH_1SDV_20250311T044231_20250311T044249_058252_073302_rtc"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-fea[...]
[...]
