interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"cil-gdpcir-CCCma-CanESM5-ssp585-r1i1p1f1-day","bbox":[-180,-90,180,90],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa/items/cil-gdpcir-CCCma-CanESM5-ssp585-r1i1p1f1-day"}],"assets":{"pr":{"href":"abfs://cil-gdpcir/ScenarioMIP/CCCma/CanESM5/ssp585/r1i1p1f1/day/pr/v1.1.zarr","cmip6:grid":"T63L49
        native atmosphere, T63 Linear Gaussian Grid; 128 x 64 longitude/latitude;
        49 levels; top level 1 hPa","msft:https-url":"https://rhgeuwest.blob.core.windows.net/cil-gdpcir/ScenarioMIP/CCCma/CanESM5/ssp585/r1i1p1f1/day/pr/v1.1.zarr","cmip6:grid_label":"gn","cmip6:tracking_id":"hdl:21.14100/b72ded72-708f-466e-a8be-fcb8ca9bdf64","cmip6:variable_id":"pr","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"rhgeuwest"}},"cmip6:creation_date":"2019-05-02T08:56:23Z","type":"application/vnd+zarr"},"tasmax":{"href":"abfs://cil-gdpcir/ScenarioMIP/CCCma/CanESM5/ssp585/r1i1p1f1/day/tasmax/v1.1.zarr","cmip6:grid":"T63L49
        native atmosphere, T63 Linear Gaussian Grid; 128 x 64 longitude/latitude;
        49 levels; top level 1 hPa","msft:https-url":"https://rhgeuwest.blob.core.windows.net/cil-gdpcir/ScenarioMIP/CCCma/CanESM5/ssp585/r1i1p1f1/day/tasmax/v1.1.zarr","cmip6:grid_label":"gn","cmip6:tracking_id":"hdl:21.14100/e423c4db-4fb8-41b7-9a53-556d0a87d39c","cmip6:variable_id":"tasmax","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"rhgeuwest"}},"cmip6:creation_date":"2019-05-02T08:56:46Z","type":"application/vnd+zarr"},"tasmin":{"href":"abfs://cil-gdpcir/ScenarioMIP/CCCma/CanESM5/ssp585/r1i1p1f1/day/tasmin/v1.1.zarr","cmip6:grid":"T63L49
        native atmosphere, T63 Linear Gaussian Grid; 128 x 64 longitude/latitude;
        49 levels; top level 1 hPa","msft:https-url":"https://rhgeuwest.blob.core.windows.net/cil-gdpcir/ScenarioMIP/CCCma/CanESM5/ssp585/r1i1p1f1/day/tasmin/v1.1.zarr","cmip6:grid_label":"gn","cmip6:tracking_id":"hdl:21.14100/b2317e1f-a290-47fe-9663-786267072ab5","cmip6:variable_id":"tasmin","xarray:open_kwargs":{"chunks":{},"engine":"zarr","consolidated":true,"storage_options":{"account_name":"rhgeuwest"}},"cmip6:creation_date":"2019-05-02T08:56:48Z","type":"application/vnd+zarr"}},"geometry":{"type":"Polygon","coordinates":[[[180,-90],[180,90],[-180,90],[-180,-90],[180,-90]]]},"collection":"cil-gdpcir-cc-by-sa","properties":{"datetime":null,"cmip6:realm":"atmos","cmip6:source":"CanESM5
        (2019): \\\\\\\\naerosol: interactive\\\\\\\\natmos: CanAM5 (T63L49 native
        atmosphere, T63 Linear Gaussian Grid; 128 x 64 longitude/latitude; 49 levels;
        top level 1 hPa)\\\\\\\\natmosChem: specified oxidants for aerosols\\\\\\\\nland:
        CLASS3.6/CTEM1.2\\\\\\\\nlandIce: specified ice sheets\\\\\\\\nocean: NEMO3.4.1
        (ORCA1 tripolar grid, 1 deg with refinement to 1/3 deg within 20 degrees of
        the equator; 361 x 290 longitude/latitude; 45 vertical levels; top grid cell
        0-6.19 m)\\\\\\\\nocnBgchem: Canadian Model of Ocean Carbon (CMOC); NPZD ecosystem
        with OMIP prescribed carbonate chemistry\\\\\\\\nseaIce: LIM2","end_datetime":"2100-12-31T12:00:00Z","cmip6:license":"https://github.com/ClimateImpactLab/downscaleCMIP6/tree/master/data_licenses/CanESM5.txt","cmip6:mip_era":"CMIP6","cmip6:product":"model-output","cmip6:table_id":"day","cube:variables":{"pr":{"type":"data","unit":"mm
        day-1","attrs":{"units":"mm day-1"},"shape":[31390,720,1440],"dimensions":["time","lat","lon"]},"tasmax":{"type":"data","unit":"K","attrs":{"units":"K","comment":"maximum
        near-surface (usually, 2 meter) air temperature (add cell_method attribute
        ''time: max'')","history":"2019-05-02T08:56:46Z altered by CMOR: Treated scalar
        dimension: ''height''. 2019-05-02T08:56:46Z altered by CMOR: Reordered dimensions,
        original order: lat lon time. 2019-05-02T08:56:46Z altered by CMOR: replaced
        missing value flag (1e+38) with standard missing value (1e+20).","long_name":"Daily
        Maximum Near-Surface Air Temperature","coordinates":"height","cell_methods":"area:
        mean time: maximum","cell_measures":"area: areacella","original_name":"STMX","standard_name":"air_temperature"},"shape":[31390,720,1440],"dimensions":["time","lat","lon"],"description":"Daily
        Maximum Near-Surface Air Temperature"},"tasmin":{"type":"data","unit":"K","attrs":{"units":"K","comment":"minimum
        near-surface (usually, 2 meter) air temperature (add cell_method attribute
        ''time: min'')","history":"2019-05-02T08:56:48Z altered by CMOR: Treated scalar
        dimension: ''height''. 2019-05-02T08:56:48Z altered by CMOR: Reordered dimensions,
        original order: lat lon time. 2019-05-02T08:56:48Z altered by CMOR: replaced
        missing value flag (1e+38) with standard missing value (1e+20).","long_name":"Daily
        Minimum Near-Surface Air Temperature","coordinates":"height","cell_methods":"area:
        mean time: minimum","cell_measures":"area: areacella","original_name":"STMN","standard_name":"air_temperature"},"shape":[31390,720,1440],"dimensions":["time","lat","lon"],"description":"Daily
        Minimum Near-Surface Air Temperature"}},"start_datetime":"2015-01-01T12:00:00Z","cmip6:frequency":"day","cmip6:source_id":"CanESM5","cube:dimensions":{"lat":{"axis":"y","step":0.25,"type":"spatial","extent":[-89.875,89.875],"reference_system":"epsg:4326"},"lon":{"axis":"x","step":0.25,"type":"spatial","extent":[-179.875,179.875],"reference_system":"epsg:4326"},"time":{"step":"P1DT0H0M0S","type":"temporal","extent":["2015-01-01T12:00:00Z","2100-12-31T12:00:00Z"],"description":"time"}},"cmip6:experiment":"update
        of RCP8.5 based on SSP5","cmip6:Conventions":"CF-1.7 CMIP-6.2","cmip6:activity_id":"ScenarioMIP","cmip6:institution":"Canadian
        Centre for Climate Modelling and Analysis, Environment and Climate Change
        Canada, Victoria, BC V8P 5C2, Canada","cmip6:source_type":"AOGCM","cmip6:experiment_id":"ssp585","cmip6:forcing_index":1,"cmip6:physics_index":1,"cmip6:variant_label":"r1i1p1f1","cmip6:institution_id":"CCCma","cmip6:sub_experiment":"none","cmip6:further_info_url":"https://furtherinfo.es-doc.org/CMIP6.CCCma.CanESM5.ssp585.none.r1i1p1f1","cmip6:realization_index":1,"cmip6:sub_experiment_id":"none","cmip6:data_specs_version":"01.00.29","cmip6:nominal_resolution":"500
        km","cmip6:initialization_index":1},"stac_extensions":["https://stac-extensions.github.io/datacube/v2.0.0/schema.json"],"stac_version":"1.0.0"}],"links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa/items"},{"rel":"next","type":"application/geo+json","method":"GET","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/cil-gdpcir-cc-by-sa/items?limit=1&token=next:cil-gdpcir-cc-by-sa:cil-gdpcir-CCCma-CanESM5-ssp585-r1i1p1f1-day"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://[...]
[...]
