interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"60W-2020","bbox":[-180.0,62.09090772,180.0,72.09958113],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc/items/60W-2020"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=io-lulc&item=60W-2020","title":"Map
        of item","type":"text/html"}],"assets":{"data":{"href":"https://ai4edataeuwest.blob.core.windows.net/io-lulc/io-lulc-model-001-v01-composite-v03-supercell-v02-clip-v01/60W_20200101-20210101.tif","file:size":126064760,"raster:bands":[{"nodata":0,"spatial_resolution":10}],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"file:values":[{"values":[0],"summary":"No
        Data"},{"values":[1],"summary":"Water"},{"values":[2],"summary":"Trees"},{"values":[3],"summary":"Grass"},{"values":[4],"summary":"Flooded
        vegetation"},{"values":[5],"summary":"Crops"},{"values":[6],"summary":"Scrub/shrub"},{"values":[7],"summary":"Built
        area"},{"values":[8],"summary":"Bare ground"},{"values":[9],"summary":"Snow/ice"},{"values":[10],"summary":"Clouds"}]},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=io-lulc&item=60W-2020&assets=data&colormap_name=io-lulc&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=io-lulc&item=60W-2020&assets=data&colormap_name=io-lulc&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"MultiPolygon","coordinates":[[[[180,63.0936231],[180,63.0058371],[180,63.0057861],[180,62.1076299],[180,62.1074598],[179.9959083,62.1075476],[179.1685297,62.0909077],[179.1640064,62.1254104],[178.9176451,62.1307003],[178.9185406,62.1443386],[177.0838684,62.1581601],[175.1654329,62.1460307],[174.9949354,62.1425894],[174.9892843,62.1011804],[173.9963672,62.1224345],[173.1789084,62.1059351],[173.1744516,62.1400282],[173.0027117,62.1437045],[171.0118991,62.1587023],[171.0122649,63.0564608],[171.0122639,63.0564608],[171.0122781[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1[...]
[...]
