interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/goes-cmi/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"OR_ABI-L2-C-M6_G18_s20250701546183","bbox":[-184.3764190673828,14.57133960723877,-89.62357330322266,53.50006103515625],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/goes-cmi"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/goes-cmi"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/goes-cmi/items/OR_ABI-L2-C-M6_G18_s20250701546183"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=goes-cmi&item=OR_ABI-L2-C-M6_G18_s20250701546183","title":"Map
        of item","type":"text/html"}],"assets":{"C01_1km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-CMIPC/2025/070/15/OR_ABI-L2-CMIPC-M6C01_G18_s20250701546183_e20250701548556_c20250701549044_CMI.tif","proj:shape":[3000,5000],"raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":1000}],"proj:transform":[1002.0086577437705,0.0,-2505021.6335212095,0.0,-1002.0086577437705,4589199.4854017,0.0,0.0,1.0],"goes:end_observation_time":"2025-03-11T15:48:55.600000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Cloud
        and Moisture Imagery reflectance factor - Band 01 (full resolution)","eo:bands":[{"name":"ABI
        Band 1","common_name":"blue","description":"Daytime aerosol over land, coastal
        water mapping","center_wavelength":0.47}]},"C01_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C01.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery reflectance factor - Band 01","eo:bands":[{"name":"ABI Band 1","common_name":"blue","description":"Daytime
        aerosol over land, coastal water mapping","center_wavelength":0.47}]},"C02_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C02.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery reflectance factor - Band 02","eo:bands":[{"name":"ABI Band 2","common_name":"red","description":"Daytime
        clouds, fog, insolation, winds","center_wavelength":0.64}]},"C03_1km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-CMIPC/2025/070/15/OR_ABI-L2-CMIPC-M6C03_G18_s20250701546183_e20250701548556_c20250701549066_CMI.tif","proj:shape":[3000,5000],"raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":1000}],"proj:transform":[1002.0086577437705,0.0,-2505021.6335212095,0.0,-1002.0086577437705,4589199.4854017,0.0,0.0,1.0],"goes:end_observation_time":"2025-03-11T15:48:55.600000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Cloud
        and Moisture Imagery reflectance factor - Band 03 (full resolution)","eo:bands":[{"name":"ABI
        Band 3","common_name":"nir09","description":"Daytime vegetation, burn scar,
        aerosol over water, winds","center_wavelength":0.87}]},"C03_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C03.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery reflectance factor - Band 03","eo:bands":[{"name":"ABI Band 3","common_name":"nir09","description":"Daytime
        vegetation, burn scar, aerosol over water, winds","center_wavelength":0.87}]},"C04_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C04.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery reflectance factor - Band 04","eo:bands":[{"name":"ABI Band 4","common_name":"cirrus","description":"Daytime
        cirrus cloud","center_wavelength":1.38}]},"C05_1km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-CMIPC/2025/070/15/OR_ABI-L2-CMIPC-M6C05_G18_s20250701546183_e20250701548556_c20250701549024_CMI.tif","proj:shape":[3000,5000],"raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":1000}],"proj:transform":[1002.0086577437705,0.0,-2505021.6335212095,0.0,-1002.0086577437705,4589199.4854017,0.0,0.0,1.0],"goes:end_observation_time":"2025-03-11T15:48:55.600000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Cloud
        and Moisture Imagery reflectance factor - Band 05 (full resolution)","eo:bands":[{"name":"ABI
        Band 5","common_name":"swir16","description":"Daytime cloud-top phase and
        particle size, snow","center_wavelength":1.61}]},"C05_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C05.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery reflectance factor - Band 05","eo:bands":[{"name":"ABI Band 5","common_name":"swir16","description":"Daytime
        cloud-top phase and particle size, snow","center_wavelength":1.61}]},"C06_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C06.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery reflectance factor - Band 06","eo:bands":[{"name":"ABI Band 6","common_name":"swir22","description":"Daytime
        land, cloud properties, particle size, vegetation, snow","center_wavelength":2.25}]},"C07_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C07.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 07","eo:bands":[{"name":"ABI
        Band 7","description":"Surface and cloud, fog at night, fire, winds","center_wavelength":3.89}]},"C08_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C08.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 08","eo:bands":[{"name":"ABI
        Band 8","description":"High-level atmospheric water vapor, winds, rainfall","center_wavelength":6.17}]},"C09_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C09.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 09","eo:bands":[{"name":"ABI
        Band 9","description":"Midlevel atmospheric water vapor, winds, rainfall","center_wavelength":6.93}]},"C10_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C10.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 10","eo:bands":[{"name":"ABI
        Band 10","description":"Lower-level water vapor, winds, and silicon dioxide","center_wavelength":7.34}]},"C11_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C11.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 11","eo:bands":[{"name":"ABI
        Band 11","description":"Total water for stability, cloud phase, dust, silicon
        dioxide, rainfall","center_wavelength":8.44}]},"C12_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C12.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 12","eo:bands":[{"name":"ABI
        Band 12","description":"Total ozone, turbulence, winds","center_wavelength":9.61}]},"C13_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C13.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 13","eo:bands":[{"name":"ABI
        Band 13","description":"Surface and clouds","center_wavelength":10.33}]},"C14_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C14.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 14","eo:bands":[{"name":"ABI
        Band 14","description":"Imagery, sea surface temperature, clouds, rainfall","center_wavelength":11.19}]},"C15_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C15.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 15","eo:bands":[{"name":"ABI
        Band 15","description":"Total water, volcanic ash, sea surface temperature","center_wavelength":12.27}]},"C16_2km":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes-cogs/goes-18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080_CMI_C16.tif","raster:bands":[{"nodata":-1,"data_type":"int16","spatial_resolution":2000}],"goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","title":"Cloud and Moisture
        Imagery brightness temperature at top of atmosphere - Band 16","eo:bands":[{"name":"ABI
        Band 16","description":"Air temperature, cloud heights","center_wavelength":13.27}]},"MCMIP-nc":{"href":"https://goeseuwest.blob.core.windows.net/noaa-goes18/ABI-L2-MCMIPC/2025/070/15/OR_ABI-L2-MCMIPC-M6_G18_s20250701546183_e20250701548562_c20250701549080.nc","goes:end_observation_time":"2025-03-11T15:48:56.200000Z","type":"application/netcdf","roles":["data"],"title":"Cloud
        and Moisture Imagery - Multiband","eo:bands":[{"name":"ABI Band 1","common_name":"blue","description":"Daytime
        aerosol over land, coastal water mapping","center_wavelength":0.47},{"name":"ABI
        Ba[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1[...]
[...]
