interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"LC09_L2SP_090091_20250310_02_T1","bbox":[145.1488175084047,-45.66959495096117,148.18002559076484,-43.53328504903883],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/landsat-c2-l2/items/LC09_L2SP_090091_20250310_02_T1"},{"rel":"cite-as","href":"https://doi.org/10.5066/P9OGBGM6","title":"Landsat
        8-9 OLI/TIRS Collection 2 Level-2"},{"rel":"via","href":"https://landsatlook.usgs.gov/stac-server/collections/landsat-c2l2-sr/items/LC09_L2SP_090091_20250310_20250311_02_T1_SR","type":"application/json","title":"USGS
        STAC Item"},{"rel":"via","href":"https://landsatlook.usgs.gov/stac-server/collections/landsat-c2l2-st/items/LC09_L2SP_090091_20250310_20250311_02_T1_ST","type":"application/json","title":"USGS
        STAC Item"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=landsat-c2-l2&item=LC09_L2SP_090091_20250310_02_T1","title":"Map
        of item","type":"text/html"}],"assets":{"qa":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_QA.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Surface
        Temperature Quality Assessment Band","description":"Collection 2 Level-2 Quality
        Assessment Band (ST_QA) Surface Temperature Product","raster:bands":[{"unit":"kelvin","scale":0.01,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"ang":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ANG.txt","type":"text/plain","roles":["metadata"],"title":"Angle
        Coefficients File","description":"Collection 2 Level-1 Angle Coefficients
        File"},"red":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_SR_B4.TIF","eo:bands":[{"name":"OLI_B4","center_wavelength":0.65,"full_width_half_max":0.04,"common_name":"red","description":"Visible
        red"}],"description":"Collection 2 Level-2 Red Band (SR_B4) Surface Reflectance","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data","reflectance"],"title":"Red
        Band","raster:bands":[{"scale":0.0000275,"nodata":0,"offset":-0.2,"data_type":"uint16","spatial_resolution":30}]},"blue":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_SR_B2.TIF","eo:bands":[{"name":"OLI_B2","center_wavelength":0.48,"full_width_half_max":0.06,"common_name":"blue","description":"Visible
        blue"}],"description":"Collection 2 Level-2 Blue Band (SR_B2) Surface Reflectance","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data","reflectance"],"title":"Blue
        Band","raster:bands":[{"scale":0.0000275,"nodata":0,"offset":-0.2,"data_type":"uint16","spatial_resolution":30}]},"drad":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_DRAD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Downwelled
        Radiance Band","description":"Collection 2 Level-2 Downwelled Radiance Band
        (ST_DRAD) Surface Temperature Product","raster:bands":[{"unit":"watt/steradian/square_meter/micrometer","scale":0.001,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"emis":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_EMIS.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Emissivity
        Band","description":"Collection 2 Level-2 Emissivity Band (ST_EMIS) Surface
        Temperature Product","raster:bands":[{"unit":"emissivity coefficient","scale":0.0001,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"emsd":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_EMSD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Emissivity
        Standard Deviation Band","description":"Collection 2 Level-2 Emissivity Standard
        Deviation Band (ST_EMSD) Surface Temperature Product","raster:bands":[{"unit":"emissivity
        coefficient","scale":0.0001,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"trad":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_TRAD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Thermal
        Radiance Band","description":"Collection 2 Level-2 Thermal Radiance Band (ST_TRAD)
        Surface Temperature Product","raster:bands":[{"unit":"watt/steradian/square_meter/micrometer","scale":0.001,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"urad":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_URAD.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Upwelled
        Radiance Band","description":"Collection 2 Level-2 Upwelled Radiance Band
        (ST_URAD) Surface Temperature Product","raster:bands":[{"unit":"watt/steradian/square_meter/micrometer","scale":0.001,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"atran":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_ATRAN.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Atmospheric
        Transmittance Band","description":"Collection 2 Level-2 Atmospheric Transmittance
        Band (ST_ATRAN) Surface Temperature Product","raster:bands":[{"scale":0.0001,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"cdist":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_CDIST.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"title":"Cloud
        Distance Band","description":"Collection 2 Level-2 Cloud Distance Band (ST_CDIST)
        Surface Temperature Product","raster:bands":[{"unit":"kilometer","scale":0.01,"nodata":-9999,"data_type":"int16","spatial_resolution":30}]},"green":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_SR_B3.TIF","eo:bands":[{"name":"OLI_B3","full_width_half_max":0.06,"common_name":"green","description":"Visible
        green","center_wavelength":0.56}],"description":"Collection 2 Level-2 Green
        Band (SR_B3) Surface Reflectance","type":"image/tiff; application=geotiff;
        profile=cloud-optimized","roles":["data","reflectance"],"title":"Green Band","raster:bands":[{"scale":0.0000275,"nodata":0,"offset":-0.2,"data_type":"uint16","spatial_resolution":30}]},"nir08":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_SR_B5.TIF","eo:bands":[{"name":"OLI_B5","center_wavelength":0.87,"full_width_half_max":0.03,"common_name":"nir08","description":"Near
        infrared"}],"description":"Collection 2 Level-2 Near Infrared Band 0.8 (SR_B5)
        Surface Reflectance","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data","reflectance"],"title":"Near
        Infrared Band 0.8","raster:bands":[{"scale":0.0000275,"nodata":0,"offset":-0.2,"data_type":"uint16","spatial_resolution":30}]},"lwir11":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_ST_B10.TIF","gsd":100,"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data","temperature"],"title":"Surface
        Temperature Band","eo:bands":[{"name":"TIRS_B10","common_name":"lwir11","description":"Long-wave
        infrared","center_wavelength":10.9,"full_width_half_max":0.59}],"description":"Collection
        2 Level-2 Thermal Infrared Band (ST_B10) Surface Temperature","raster:bands":[{"unit":"kelvin","scale":0.00341802,"nodata":0,"offset":149.0,"data_type":"uint16","spatial_resolution":30}]},"swir16":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_SR_B6.TIF","eo:bands":[{"name":"OLI_B6","center_wavelength":1.61,"full_width_half_max":0.09,"common_name":"swir16","description":"Short-wave
        infrared"}],"description":"Collection 2 Level-2 Short-wave Infrared Band 1.6
        (SR_B6) Surface Reflectance","type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data","reflectance"],"title":"Short-wave
        Infrared Band 1.6","raster:bands":[{"scale":0.0000275,"nodata":0,"offset":-0.2,"data_type":"uint16","spatial_resolution":30}]},"swir22":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_SR_B7.TIF","eo:bands":[{"name":"OLI_B7","center_wavelength":2.2,"full_width_half_max":0.19,"common_name":"swir22","description":"Short-wave
        infrared"}],"type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data","reflectance"],"title":"Short-wave
        Infrared Band 2.2","description":"Collection 2 Level-2 Short-wave Infrared
        Band 2.2 (SR_B7) Surface Reflectance","raster:bands":[{"scale":0.0000275,"nodata":0,"offset":-0.2,"data_type":"uint16","spatial_resolution":30}]},"coastal":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_SR_B1.TIF","type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data","reflectance"],"title":"Coastal/Aerosol
        Band","eo:bands":[{"name":"OLI_B1","common_name":"coastal","description":"Coastal/Aerosol","center_wavelength":0.44,"full_width_half_max":0.02}],"description":"Collection
        2 Level-2 Coastal/Aerosol Band (SR_B1) Surface Reflectance","raster:bands":[{"scale":0.0000275,"nodata":0,"offset":-0.2,"data_type":"uint16","spatial_resolution":30}]},"mtl.txt":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_MTL.txt","type":"text/plain","roles":["metadata"],"title":"Product
        Metadata File (txt)","description":"Collection 2 Level-2 Product Metadata
        File (txt)"},"mtl.xml":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_MTL.xml","type":"application/xml","roles":["metadata"],"title":"Product
        Metadata File (xml)","description":"Collection 2 Level-2 Product Metadata
        File (xml)"},"mtl.json":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_MTL.json","type":"application/json","roles":["metadata"],"title":"Product
        Metadata File (json)","description":"Collection 2 Level-2 Product Metadata
        File (json)"},"qa_pixel":{"href":"https://landsateuwest.blob.core.windows.net/landsat-c2/level-2/standard/oli-tirs/2025/090/091/LC09_L2SP_090091_20250310_20250311_02_T1/LC09_L2SP_090091_20250310_20250311_02_T1_QA_PIXEL.TIF","classification:bitfields":[{"name":"fill","length":1,"offset":0,"classes":[{"name":"not_fill","value":0,"description":"Image
        data"},{"name":"fill","value":1,"description":"Fill data"}],"description":"Image
        or fill data"},{"name":"dilated_cloud","length":1,"offset":1,"classes":[{"name":"not_dilated","value":0,"description":"Cloud
        is not dilated or no cloud"},{"name":"dilated","value":1,"description":"Cloud
        dilation"}],"description":"Dilated cloud"},{"name":"cirrus","length":1,"offset":2,"classes":[{"name":"not_cirrus","value":0,"description":"Cirrus
        confide[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search","https://[...]
[...]
