interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc-9-class/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"60W-2022","bbox":[174.0,64.0,180.0,71.63584468488295],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc-9-class"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc-9-class"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/io-lulc-9-class/items/60W-2022"},{"rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=io-lulc-9-class&item=60W-2022","title":"Map
        of item","type":"text/html"}],"assets":{"data":{"href":"https://ai4edataeuwest.blob.core.windows.net/io-lulc/nine-class/60W_20220101-20230101.tif","file:size":68031971,"raster:bands":[{"nodata":0,"spatial_resolution":10}],"type":"image/tiff;
        application=geotiff; profile=cloud-optimized","roles":["data"],"file:values":[{"values":[0],"summary":"No
        Data"},{"values":[1],"summary":"Water"},{"values":[2],"summary":"Trees"},{"values":[4],"summary":"Flooded
        vegetation"},{"values":[5],"summary":"Crops"},{"values":[7],"summary":"Built
        area"},{"values":[8],"summary":"Bare ground"},{"values":[9],"summary":"Snow/ice"},{"values":[10],"summary":"Clouds"},{"values":[11],"summary":"Rangeland"}]},"tilejson":{"title":"TileJSON
        with default rendering","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/tilejson.json?collection=io-lulc-9-class&item=60W-2022&assets=data&colormap_name=io-lulc-9-class&format=png","type":"application/json","roles":["tiles"]},"rendered_preview":{"title":"Rendered
        preview","rel":"preview","href":"https://planetarycomputer.microsoft.com/api/data/v1/item/preview.png?collection=io-lulc-9-class&item=60W-2022&assets=data&colormap_name=io-lulc-9-class&format=png","roles":["overview"],"type":"image/png"}},"geometry":{"type":"MultiPolygon","coordinates":[[[[174.00148031992939,70.00787697749283],[174.03544244336354,70.00899678292501],[174.09739974072724,70.00566919810065],[174.11365752857603,70.00336820864909],[174.14333621944573,69.99378836076015],[174.15810002973097,69.99121726700969],[174.1730822780342,69.9908813310154],[174.20373594966588,69.99341530941372],[174.2555273446557,69.98868401359725],[174.31549911448596,69.97843064407697],[174.34596431577825,69.96872295547512],[174.46383999620363,69.94524740796624],[174.47909673661084,69.945156111[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1[...]
[...]
