interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/gbif/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"gbif-2024-10-01","bbox":[-180,-90,180,90],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gbif"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gbif"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gbif/items/gbif-2024-10-01"}],"assets":{"data":{"href":"az://gbif/occurrence/2024-10-01/occurrence.parquet","type":"application/x-parquet","roles":["data"],"title":"Dataset
        root","table:storage_options":{"account_name":"ai4edataeuwest"}}},"geometry":{"type":"Polygon","coordinates":[[[180,-90],[180,90],[-180,90],[-180,-90],[180,-90]]]},"collection":"gbif","properties":{"datetime":"2024-10-01T00:00:00Z","table:columns":[{"name":"gbifid","type":"byte_array","description":"GBIF''s
        identifier for the occurrence"},{"name":"datasetkey","type":"byte_array","description":"GBIF''s
        UUID for the [dataset](https://www.gbif.org/developer/registry#datasets) containing
        this occurrence"},{"name":"occurrenceid","type":"byte_array","description":"See
        [dwc:occurrenceID](https://dwc.tdwg.org/terms/#occurrenceID)."},{"name":"kingdom","type":"byte_array","description":"See
        [dwc:kingdom](https://dwc.tdwg.org/terms/#kingdom).  This field has be[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1[...]
[...]
