interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/eclipse/items?limit=1
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"features\":[{\"id\":\"Chicago-2023-02-26\",\"bbox\":[-87.94011408,41.64454312,-87.5241371,42.02303859],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/eclipse\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/eclipse\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/\"},{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/eclipse/items/Chicago-2023-02-26\"}],\"assets\":{\"data\":{\"href\":\"abfs://eclipse/Chicago/2023-02-26/20230226-00_20230305-00.parquet\",\"type\":\"application/x-parquet\",\"roles\":[\"data\"],\"title\":\"Weekly
        dataset\",\"table:storage_options\":{\"account_name\":\"ai4edataeuwest\"}}},\"geometry\":{\"type\":\"MultiPolygon\",\"coordinates\":[[[[-87.9351439,42.0008891],[-87.9370795,41.9985857],[-87.9400202,41.9981069],[-87.9401141,42.0007893],[-87.9351439,42.0008891]]],[[[-87.9351439,42.0008891],[-87.9352875,42.0081514],[-87.9335804,42.0081735],[-87.9334849,42.0054237],[-87.9303258,42.0049951],[-87.9303331,42.005158],[-87.9292508,42.0049957],[-87.9254539,42.0077149],[-87.9225594,42.0058661],[-87.9208574,42.0038831],[-87.9205954,42.0038854],[-87.9206125,42.0049516],[-87.9137708,42.0050747],[-87.9137704,42.0087045],[-87.9133099,42.008[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://[...]
[...]
