interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-rasters/items?limit=1
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"features\":[{\"id\":\"pw_-2391035_-539485_-2227195_-703325\",\"bbox\":[131.02957139,2.92675611,132.58570215,4.50665947],\"type\":\"Feature\",\"links\":[{\"rel\":\"collection\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-rasters\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-rasters\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/\"},{\"rel\":\"self\",\"type\":\"application/geo+json\",\"href\":\"https://planetarycomputer.microsoft.com/api/stac/v1/collections/gnatsgo-rasters/items/pw_-2391035_-539485_-2227195_-703325\"},{\"rel\":\"handbook\",\"href\":\"https://www.nrcs.usda.gov/wps/PA_NRCSConsumption/download?cid=nrcs142p2_051847&ext=pdf\",\"type\":\"application/pdf\",\"title\":\"gSSURGO
        User Guide\",\"description\":\"Also includes data usage information\"},{\"rel\":\"preview\",\"href\":\"https://planetarycomputer.microsoft.com/api/data/v1/item/map?collection=gnatsgo-rasters&item=pw_-2391035_-539485_-2227195_-703325\",\"title\":\"Map
        of item\",\"type\":\"text/html\"}],\"assets\":{\"mukey\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/mukey_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1505147,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"int32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"mukey\",\"description\":\"Map
        unit key is the unique identifier of a record in the Mapunit table. Use this
        column to join the Component table to the Map Unit table and the Valu1 table
        to the MapUnitRaster_10m raster map layer to map valu1 themes.\"},\"aws0_5\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws0-5_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1519677,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws0_5\",\"description\":\"Available
        water storage estimate (AWS) in a standard zone 1 (0-5 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        layer based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"soc0_5\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc0-5_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509736,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc0_5\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in standard layer 1 or standard zone 1
        (0-5 cm depth). The concentration of organic carbon present in the soil expressed
        in grams C per square meter to a depth of 5 cm. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_5a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-5a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1505610,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_5a\",\"description\":\"Thickness
        of soil components used in standard layer 1 or standard zone 1 (0-5 cm) expressed
        in cm (weighted average) for the available water storage calculation. NULL
        values are presented where data are incomplete or not available.\"},\"tk0_5s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-5s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1508190,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_5s\",\"description\":\"Thickness
        of soil components used in standard layer 1 or standard zone 1 (0-5 cm) expressed
        in cm (weighted average) for the Soil Organic Carbon calculation. NULL values
        are presented where data are incomplete or not available.\"},\"aws0_20\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws0-20_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1519654,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws0_20\",\"description\":\"Available
        water storage estimate (AWS) in standard zone 2 (0-20 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        zone based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"aws0_30\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws0-30_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1519581,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws0_30\",\"description\":\"Available
        water storage estimate (AWS) in standard zone 3 (0-30 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        zone based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"aws5_20\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws5-20_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1516813,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws5_20\",\"description\":\"Available
        water storage estimate (AWS) in standard layer 2 (5-20 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        layer based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"soc0_20\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc0-20_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509802,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc0_20\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in standard zone 2 (0-20 cm depth). The
        concentration of organic carbon present in the soil expressed in grams C per
        square meter to a depth of 20 cm. NULL values are presented where data are
        incomplete or not available.\"},\"soc0_30\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc0-30_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509790,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc0_30\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in standard zone 3 (0-30 cm depth). The
        concentration of organic carbon present in the soil expressed in grams C per
        square meter to a depth of 30 cm. NULL values are presented where data are
        incomplete or not available.\"},\"soc5_20\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc5-20_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509803,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc5_20\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in standard layer 2 (5-20 cm depth). The
        concentration of organic carbon present in the soil expressed in grams C per
        square meter for the 5-20 cm layer. NULL values are presented where data are
        incomplete or not available.\"},\"tk0_20a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-20a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1505592,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_20a\",\"description\":\"Thickness
        of soil components used in standard zone 2 (0-20 cm) expressed in cm (weighted
        average) for the available water storage calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_20s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-20s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1508172,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_20s\",\"description\":\"Thickness
        of soil components used in standard zone 2 (0-20 cm) expressed in cm (weighted
        average) for the Soil Organic Carbon calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_30a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-30a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509924,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_30a\",\"description\":\"Thickness
        of soil components used in standard zone 3 (0-30 cm) expressed in cm (weighted
        average) for the available water storage calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_30s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-30s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1508186,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_30s\",\"description\":\"Thickness
        of soil components used in standard zone 3 (0-30 cm) expressed in cm (weighted
        average) for the Soil Organic Carbon calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk5_20a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk5-20a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1505607,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk5_20a\",\"description\":\"Thickness
        of soil components used in standard layer 2 (5-20 cm) expressed in cm (weighted
        average) for the available water storage calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk5_20s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk5-20s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1508181,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk5_20s\",\"description\":\"Thickness
        of soil components used in standard layer 2 (5-20 cm) expressed in cm (weighted
        average) for the Soil Organic Carbon calculation. NULL values are presented
        where data are incomplete or not available.\"},\"aws0_100\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws0-100_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1519365,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws0_100\",\"description\":\"Available
        water storage estimate (AWS) in standard zone 4 (0-100 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        zone based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"aws0_150\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws0-150_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1519365,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws0_150\",\"description\":\"Available
        water storage estimate (AWS) in standard zone 5 (0-150 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        zone based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"aws0_999\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws0-999_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1519404,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws0_999\",\"description\":\"Available
        water storage estimate (AWS) in total soil profile (0 cm to the reported depth
        of the soil profile), expressed in mm. The volume of plant available water
        that the soil can store in this layer based on all map unit components (weighted
        average). NULL values are presented where data are incomplete or not available.\"},\"aws20_50\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws20-50_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1516785,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws20_50\",\"description\":\"Available
        water storage estimate (AWS) in standard layer 3 (20-50 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        layer based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"droughty\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/droughty_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":772642,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"int16\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"droughty\",\"description\":\"zone
        for commodity crops that is less than or equal to 6 inches (152 mm) expressed
        as \\\"1\\\" for a drought vulnerable soil landscape map unit or \\\"0\\\"
        for a non-droughty soil landscape map unit or NULL for miscellaneous areas
        (includes water bodies) or where data were not available. It is computed as
        a weighted average for major earthy components. Earthy components are those
        soil series or higher level taxa components that can support crop growth (Dobos
        et al., 2012). Major components are those soil components where the majorcompflag
        = 'Yes'\"},\"nccpi3sg\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/nccpi3sg_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1510106,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"nccpi3sg\",\"description\":\"National
        Commodity Crop Productivity Index for Small Grains (weighted average) for
        major earthy components. Values range from .01 (low productivity) to .99 (high
        productivity). Earthy components are those soil series or higher level taxa
        components that can support crop growth (Dobos et al., 2012). Major components
        are those soil components where the majorcompflag = 'Yes' (SSURGO component
        table). NULL values are presented where data are incomplete or not available.\"},\"soc0_100\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc0-100_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509813,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc0_100\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in standard zone 4 (0-100 cm depth). The
        concentration of organic carbon present in the soil expressed in grams C per
        square meter to a depth of 100 cm. NULL values are presented where data are
        incomplete or not available.\"},\"soc0_150\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc0-150_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509801,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc0_150\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in standard zone 5 (0-150 cm depth). The
        concentration of organic carbon present in the soil expressed in grams C per
        square meter to a depth of 150 cm. NULL values are presented where data are
        incomplete or not available.\"},\"soc0_999\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc0-999_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509872,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc0_999\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in total soil profile (0 cm to the reported
        depth of the soil profile). The concentration of organic carbon present in
        the soil expressed in grams C per square meter for the total reported soil
        profile depth. NULL values are presented where data are incomplete or not
        available.\"},\"soc20_50\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/soc20-50_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509808,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"soc20_50\",\"description\":\"Soil
        organic carbon stock estimate (SOC) in standard layer 3 (20-50 cm depth).
        The concentration of organic carbon present in the soil expressed in grams
        C per square meter for the 20-50 cm layer. NULL values are presented where
        data are incomplete or not available.\"},\"tk0_100a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-100a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1515519,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_100a\",\"description\":\"Thickness
        of soil components used in standard zone 4 (0-100 cm) expressed in cm (weighted
        average) for the available water storage calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_100s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-100s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509006,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_100s\",\"description\":\"Thickness
        of soil components used in standard zone 4 (0-100 cm) expressed in cm (weighted
        average) for the Soil Organic Carbon calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_150a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-150a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1515737,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_150a\",\"description\":\"Thickness
        of soil components used in standard zone 5 (0-150 cm) expressed in cm (weighted
        average) for the available water storage calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_150s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-150s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509119,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_150s\",\"description\":\"Thickness
        of soil components used in standard zone 5 (0-150 cm) expressed in cm (weighted
        average) for the Soil Organic Carbon calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk0_999a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-999a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1515902,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_999a\",\"description\":\"Thickness
        of soil components used in total soil profile (0 cm to the reported depth
        of the soil profile) expressed in cm (weighted average) for the available
        water storage calculation. NULL values are presented where data are incomplete
        or not available.\"},\"tk0_999s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk0-999s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1509051,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk0_999s\",\"description\":\"Thickness
        of soil components used in total soil profile (0 cm to the reported depth
        of the soil profile) expressed in cm (weighted average) for the Soil Organic
        Carbon calculation. NULL values are presented where data are incomplete or
        not available.\"},\"tk20_50a\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk20-50a_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1515251,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk20_50a\",\"description\":\"Thickness
        of soil components used in standard layer 3 (20-50 cm) expressed in cm (weighted
        average) for the available water storage calculation. NULL values are presented
        where data are incomplete or not available.\"},\"tk20_50s\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/tk20-50s_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1508634,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"tk20_50s\",\"description\":\"Thickness
        of soil components used in standard layer 3 (20-50 cm) expressed in cm (weighted
        average) for the Soil Organic Carbon calculation. NULL values are presented
        where data are incomplete or not available.\"},\"aws50_100\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/aws50-100_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1516620,\"raster:bands\":[{\"nodata\":2147483647.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"aws50_100\",\"description\":\"Available
        water storage estimate (AWS) in standard layer 3 (50-100 cm depth), expressed
        in mm. The volume of plant available water that the soil can store in this
        layer based on all map unit components (weighted average). NULL values are
        presented where data are incomplete or not available.\"},\"musumcpct\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/musumcpct_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":771635,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"int16\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"musumcpct\",\"description\":\"The
        sum of the comppct_r (SSURGO component table) values for all listed components
        in the map unit. Useful metadata information. NULL values are presented where
        data are incomplete or not available.\"},\"nccpi3all\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/nccpi3all_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1510161,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"nccpi3all\",\"description\":\"National
        Commodity Crop Productivity Index that has the highest value among Corn and
        Soybeans, Small Grains, or Cotton (weighted average) for major earthy components.
        Values range from .01 (low productivity) to .99 (high productivity). Earthy
        components are those soil series or higher level taxa components that can
        support crop growth (Dobos et al., 2012). Major components are those soil
        components where the majorcompflag = 'Yes' (SSURGO component table). NULL
        values are presented where data are incomplete or not available.\"},\"nccpi3cot\":{\"href\":\"https://soils.blob.core.windows.net/gnatsgo/july2020/tiles/pw_-2391035_-539485_-2227195_-703325/nccpi3cot_pw_-2391035_-539485_-2227195_-703325.tif\",\"file:size\":1510112,\"raster:bands\":[{\"nodata\":-9999.0,\"data_type\":\"float32\",\"spatial_resolution\":10}],\"type\":\"image/tiff;
        application=geotiff; profile=cloud-optimized\",\"roles\":[\"data\"],\"title\":\"nccpi3cot\",\"description\":\"National
        Commodity Crop Productivity Index for Cotton (weighted average) for major
        earthy components. Values range from .01 (low productivity) to .99 (high productivity).
[...]
