interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/us-census/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"2020-census-blocks-population","bbox":[-179.148909,-14.548699,179.77847,71.365162],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/us-census"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/us-census"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/us-census/items/2020-census-blocks-population"}],"assets":{"data":{"href":"abfs://us-census/2020/census_blocks_population.parquet","type":"application/x-parquet","roles":["data"],"title":"Dataset
        root","table:storage_options":{"account_name":"ai4edataeuwest"}}},"geometry":{"type":"MultiPolygon","coordinates":[[[[144.956712,13.234189],[144.618068,13.234189],[144.618068,13.654383],[144.956712,13.654383],[144.956712,13.234189]]],[[[146.064818,14.110472],[144.886331,14.110472],[144.886331,20.553802],[146.064818,20.553802],[146.064818,14.110472]]],[[[-64.564907,17.673976],[-65.085452,17.673976],[-65.085452,18.412655],[-64.564907,18.412655],[-64.564907,17.673976]]],[[[-65.220703,17.88328],[-67.945404,17.88328],[-67.945404,18.515683],[-65.220703,18.515683],[-65.220703,17.88328]]],[[[-168.1433,-14.548699],[-171.089874,-14.548699],[-171.089874,-11.046934],[-168.1433,-11.046934],[-168.1433,-14.548699]]],[[[-154.806773,18.910361],[-178.334698,18.910361],[-178.334698,28.402123],[-154.806773,28.402123],[-154.806773,18.910361]]],[[[-66.949895,24.523096],[-124.763068,24.523096],[-124.763068,49.384358],[-66.949895,49.384358],[-66.949895,24.523096]]],[[[172.461667,53.01075],[179.77847,53.01075],[179.77847,51.357688],[172.461667,51.357688],[172.461667,53.01075]]],[[[-179.148909,71.365162],[-129.974167,71.365162],[-129.974167,51.214183],[-179.148909,51.214183],[-179.148909,71.365162]]]]},"collection":"us-census","properties":{"datetime":"2021-08-01T00:00:00Z","table:columns":[{"name":"P0010001","type":"int64","description":"Total:"},{"name":"P0010002","type":"int64","description":"Population
        of one race:"},{"name":"P0010003","type":"int64","description":"White alone"},{"name":"P0010004","type":"int64","description":"Black
        or African American alone"},{"name":"P0010005","type":"int64","description":"American
        Indian and Alaska Native alone"},{"name":"P0010006","type":"int64","description":"Asian
        alone"},{"name":"P0010007","type":"int64","description":"Native Hawaiian and
        Other [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search#query","https://api[...]
[...]
