interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"USGS_LPC_UT_StatewideSouth_2020_A20_12SUH7021","bbox":[-112.48332701,38.12750163,2475.74,-112.48220744,38.13247722,2754.14],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc/items/USGS_LPC_UT_StatewideSouth_2020_A20_12SUH7021"},{"rel":"alternate","href":"https://rockyweb.usgs.gov/vdelivery/Datasets/Staged/Elevation/LPC/Projects/UT_StatewideSouth_2020_A20/UT_StatewideSouth_1_2020/metadata/","type":"application/xml","title":"USGS
        Metadata"}],"assets":{"data":{"href":"https://usgslidareuwest.blob.core.windows.net/usgs-3dep-copc/usgs-copc/UT_StatewideSouth_1_2020/copc/USGS_LPC_UT_StatewideSouth_2020_A20_12SUH7021.copc.laz","type":"application/vnd.laszip+copc","roles":["data"],"title":"COPC
        data"},"thumbnail":{"href":"https://usgslidareuwest.blob.core.windows.net/usgs-3dep-copc/usgs-copc/UT_StatewideSouth_1_2020/copc/thumbnails/USGS_LPC_UT_StatewideSouth_2020_A20_12SUH7021-thumbnail.png","type":"image/png","roles":["thumbnail"],"title":"3DEP
        Lidar COPC"}},"geometry":{"type":"Polygon","coordinates":[[[-112.4820566,38.1261015],[-112.4816283,38.1331311],[-112.4833551,38.1338897],[-112.4832919,38.1307687],[-112.4855415,38.1291793],[-112.4820566,38.1261015]]]},"collection":"3dep-lidar-copc","properties":{"pc:type":"lidar","datetime":null,"group_id":"3dep-lidar","pc:count":376166,"proj:bbox":[370000,4221000,2475.74,370089.35,4221550.82,2754.14],"proj:epsg":null,"pc:schemas":[{"name":"X","size":8,"type":"floating"},{"name":"Y","size":8,"type":"floating"},{"name":"Z","size":8,"type":"floating"},{"name":"Intensity","size":2,"type":"unsigned"},{"name":"ReturnNumber","size":1,"type":"unsigned"},{"name":"NumberOfReturns","size":1,"type":"unsigned"},{"name":"ScanDirectionFlag","size":1,"type":"unsigned"},{"name":"EdgeOfFlightLine","size":1,"type":"unsigned"},{"name":"Classification","size":1,"type":"unsigned"},{"name":"ScanAngleRank","size":4,"type":"floating"},{"name":"UserData","size":1,"type":"unsigned"},{"name":"PointSourceId","size":2,"type":"unsigned"},{"name":"GpsTime","size":8,"type":"floating"},{"name":"ScanChannel","size":1,"type":"unsigned"},{"name":"ClassFlags","size":1,"type":"unsigned"}],"pc:encoding":"application/vnd.laszip+copc","3dep:usgs_id":"UT_StatewideSouth_1_2020","end_datetime":"2020-12-31T00:00:00Z","proj:geometry":{"type":"Polygon","coordinates":[[[370100.06999998,4220842.99967697],[370150.06999996,4221622.42254038],[370000.07,4221709.02508076],[370000.07,4221362.61491924],[369800.07000005,4221189.40983849],[370100.06999998,4220842.99967697]]]},"proj:projjson":{"name":"NAD83
        / UTM zone 12N + NAVD88 height","type":"CompoundCRS","$schema":"https://proj.org/schemas/v0.4/projjson.schema.json","components":[{"id":{"code":26912,"authority":"EPSG"},"name":"NAD83
        / UTM zone 12N","type":"ProjectedCRS","base_crs":{"id":{"code":4269,"authority":"EPSG"},"name":"NAD83","datum":{"name":"North
        American Datum 1983","type":"GeodeticReferenceFrame","ellipsoid":{"name":"GRS
        1980","semi_major_axis":6378137,"inverse_flattening":298.257222101}},"coordinate_system":{"axis":[{"name":"Geodetic
        latitude","unit":"degree","direction":"north","abbreviation":"Lat"},{"name":"Geodetic
        longitude","unit":"degree","direction":"east","abbreviation":"Lon"}],"subtype":"ellipsoidal"}},"conversion":{"name":"UTM
        zone 12N","method":{"id":{"code":9807,"authority":"EPSG"},"name":"Transverse
        Mercator"},"parameters":[{"id":{"code":8801,"authority":"EPSG"},"name":"Latitude
        of natural origin","unit":"degree","value":0},{"id":{"code":8802,"authority":"EPSG"},"name":"Longitude
        of natural origin","unit":"degree","value":-111},{"id":{"code":8805,"authority":"EPSG"},"name":"Scale
        factor at natural origin","unit":"unity","value":0.9996},{"id":{"code":8806,"authority":"EPSG"},"name":"False
        easting","unit":"metre","value":500000},{"id":{"code":8807,"authority":"EPSG"},"name":"False
        northing","unit":"metre","value":0}]},"coordinate_system":{"axis":[{"name":"Easting","unit":"metre","direction":"east","abbreviation":""},{"name":"Northing","unit":"metre","direction":"north","abbreviation":""}],"subtype":"Cartesian"}},{"id":{"code":5703,"authority":"EPSG"},"name":"NAVD88
        height","type":"VerticalCRS","datum":{"name":"North American Vertical Datum
        1988","type":"VerticalReferenceFrame"},"coordinate_system":{"axis":[{"name":"Gravity-related
        height","unit":"metre","direction":"up","abbreviation":""}],"subtype":"vertical"}}]},"start_datetime":"2020-01-01T00:00:00Z"},"stac_extensions":["https://stac-extensions.github.io/projection/v1.0.0/schema.json","https://stac-extensions.github.io/pointcloud/v1.0.0/schema.json","https://stac-extensions.github.io/file/v2.1.0/schema.json"],"stac_version":"1.0.0"}],"links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc/items"},{"rel":"next","type":"application/geo+json","method":"GET","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/3dep-lidar-copc/items?limit=1&token=next:3dep-lidar-copc:USGS_LPC_UT_StatewideSouth_2020_A20_12SUH7021"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/[...]
[...]
