interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip
  response:
    body:
      string: '{"id":"naip","type":"Collection","links":[{"rel":"items","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip/items"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/naip"},{"rel":"license","href":"https://www.fsa.usda.gov/help/policies-and-links/","title":"Public
        Domain"},{"rel":"describedby","href":"https://planetarycomputer.microsoft.com/dataset/naip","title":"Human
        readable dataset overview and reference","type":"text/html"}],"title":"NAIP:
        National Agriculture Imagery Program","assets":{"thumbnail":{"href":"https://ai4edatasetspublicassets.blob.core.windows.net/assets/pc_thumbnails/naip.png","type":"image/png","roles":["thumbnail"],"title":"NAIP
        thumbnail"},"geoparquet-items":{"href":"abfs://items/naip.parquet","type":"application/x-parquet","roles":["stac-items"],"title":"GeoParquet
        STAC items","description":"Snapshot of the collection''s STAC items exported
        to GeoParquet format.","msft:partition_info":{"is_partitioned":true,"partition_frequency":"AS"},"table:storage_options":{"account_name":"pcstacitems"}}},"extent":{"spatial":{"bbox":[[-124.784,24.744,-66.951,49.346],[-156.003,19.059,-154.809,20.127],[-67.316,17.871,-65.596,18.565],[-64.94,17.622,-64.56,17.814]]},"temporal":{"interval":[["2010-01-01T00:00:00Z","2023-12-31T00:00:00Z"]]}},"license":"proprietary","keywords":["NAIP","Aerial","Imagery","USDA","AFPO","Agriculture","United
        States"],"providers":[{"url":"https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/","name":"USDA
        Farm Service Agency","roles":["producer","licensor"]},{"url":"https://www.esri.com/","name":"Esri","roles":["processor"]},{"url":"https://planetarycomputer.microsoft.com","name":"Microsoft","roles":["host","processor"]}],"summaries":{"gsd":[0.3,0.6,1.0],"eo:bands":[{"name":"Red","common_name":"red","description":"visible
        red"},{"name":"Green","common_name":"green","description":"visible green"},{"name":"Blue","common_name":"blue","description":"visible
        blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}]},"description":"The
        [National Agriculture Imagery Program](https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/)
        (NAIP) \nprovides U.S.-wide, high-resolution aerial imagery, with four spectral
        bands (R, G, B, IR). \nNAIP is administered by the [Aerial Field Photography
        Office](https://www.fsa.usda.gov/programs-and-services/aerial-photography/)
        (AFPO) \nwithin the [US Department of Agriculture](https://www.usda.gov/)
        (USDA). \nData are captured at least once every three years for each state.
        \nThis dataset represents NAIP data from 2010-present, in [cloud-optimized
        GeoTIFF](https://www.cogeo.org/) format.\nYou can visualize the coverage of
        current and past collections [here](https://naip-usdaonline.hub.arcgis.com/).
        \n","item_assets":{"image":{"type":"image/tiff; application=geotiff; profile=cloud-optimized","roles":["data"],"title":"RGBIR
        COG tile","eo:bands":[{"name":"Red","common_name":"red"},{"name":"Green","common_name":"green"},{"name":"Blue","common_name":"blue"},{"name":"NIR","common_name":"nir","description":"near-infrared"}]},"metadata":{"type":"text/plain","roles":["metadata"],"title":"FGDC
        Metdata"},"thumbnail":{"type":"image/jpeg","roles":["thumbnail"],"title":"Thumbnail"}},"msft:region":"westeurope","stac_version":"1.0.0","msft:container":"naip","stac_extensions":["https://stac-extensions.github.io/item-assets/v1.0.0/schema.json","https://stac-extensions.github.io/table/v1.2.0/schema.json"],"msft:storage_account":"naipeuwest","msft:short_description":"NAIP
        provides US-wide, high-resolution aerial imagery.  This dataset includes NAIP
        images from 2010 to the present."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
