name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - uses: actions/checkout@v2
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Sync
        run: uv sync --all-extras
      - name: Lint
        run: uv run pre-commit run --all-files
      - name: Test
        run: uv run pytest tests -v
      - name: Check docs
        run: uv run mkdocs build --strict
